<!-- 内容显示界面 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="desc">密钥对</div>
    <p></p>
    <div class="row" id="btn-group-right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#createKey-modal" ng-click="initKeyModal()"><i class="fa fa-plus-square"></i>创建密钥</button>
        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteKey-modal" ng-disabled="delBtnDis" ng-click="delKeyBtn()"><span class="fa fa-times"></span> 删除</button>
    </div>
    <p></p>
    <!-- 用来展示密钥对 -->
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" ng-model="all" ng-click="chooseAllBtn()">
                </th>
                <th>名称</th>
                <th>指纹</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in keyItems">
                <td>
                    <input type="checkbox" ng-checked="one" ng-click="itemChecked($event)" index="{{ $index }}">
                </td>
                <td ng-bind="x.keypair.name"></td>
                <td ng-bind="x.keypair.fingerprint"></td>
            </tr>
            <tr>
                <td ng-if="!itemCount" colspan="3">
                    <h5 class="text-center">没有可显示的密钥对</h5>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="active">
                <td colspan="3">
                    {{ itemCount }} 条数据
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<!-- ===========================================分割线=================================================== -->
<!-- 创建密钥模态框 -->
<div class="modal fade" id="createKey-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">创建密钥</h4>
            </div>
            <div class="modal-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills" role="tablist">
                        <li id="li-center"><strong>创建方式:</strong></li>
                        <li role="presentation" class="active">
                            <a id="createKey-tab" aria-controls="home" role="tab" data-toggle="tab">创建密钥</a>
                        </li>
                        <li role="presentation">
                            <a id="importKey-tab" aria-controls="tab" role="tab" data-toggle="tab">导入密钥</a>
                        </li>
                    </ul>
                    <p></p>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- 创建密钥 -->
                        <div role="tabpanel" class="tab-pane active">
                            <form name="form" ng-submit="createKey()" role="form" novalidate>
                                <div class="form-group" ng-class="{'has-error': submitted && form.keyName.$invalid}">
                                    <label for="key-name">密钥名称<span class="span-stand"> *</span></label>
                                    <input type="text" class="form-control" name="keyName" ng-model="keyName" ng-pattern="/^[a-z][\w\-]{1,}$/i" ng-minlength="5" ng-maxlength="20" placeholder="仅限字母数字和下划线" required>
                                    <div ng-if="submitted" ng-messages="form.keyName.$error" class="help-block">
                                        <p ng-message="pattern">非法密钥名称</p>
                                        <p ng-message="minlength">密钥字符长度不能小于5</p>
                                        <p ng-message="maxlength">密钥字符长度不能大于20</p>
                                        <p ng-message="required">密钥不能为空</p>
                                    </div>
                                </div>
                                <div ng-if="showPubKey" class="form-group" ng-class="{'has-error': submitted && form.public_key.$invalid}">
                                    <!-- <label for="key-name">密钥名称<span class="span-stand"> *</span></label> -->
                                    <lable>公钥<span class="span-stand"> *</span></lable>
                                    <textarea class="form-control" name="public_key" ng-model="public_key" ng-trim="true" ng-pattern="/^(ssh-ed25519|ssh-rsa|ssh-rsa|ecdsa-sha2-nistp256|ecdsa-sha2-nistp384|ecdsa-sha2-nistp521)/i" ng-minLength="10" required>
                                    </textarea>
                                    <div ng-if="submitted" ng-messages="form.public_key.$error" class="help-block">
                                        <p ng-message="pattern">非法公钥，请检查格式</p>
                                        <p ng-message="minlength">密钥字符长度不能小于10</p>
                                        <p ng-message="required">密钥不能为空</p>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">创建</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 删除模态框 -->
<div class="modal fade" id="deleteKey-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">删除密钥</h4>
            </div>
            <div class="modal-body">
                <p>该操作无法撤销，将被删除的密钥:</p>
                <div class="well well-sm">
                    <ul>
                        <li ng-repeat="x in deleteItems">name: <strong>{{ x }}</strong></li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" ng-click="confirmeDel()">删除</button>
            </div>
        </div>
    </div>
</div>
