<!-- 内容显示界面 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="desc">浮动IP</div>
    <div class="row">
        <li class="li-btn li-btn-bottom">
            <button class="btn btn-primary" data-toggle="modal" data-target="#newIP" ng-click="allocIPModal()" ng-disabled="allocIPDis"><i class="fa fa-link"></i>分配IP给项目</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#delete-confirm" ng-click="confirmDel()" ng-disabled="freeIP"><i class="fa fa-chain-broken"></i>释放浮动IP</button>
        </li>
    </div>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" ng-click="chooseAll()" ng-model="all">
                </th>
                <th>IP地址</th>
                <th>已映射固定IP地址</th>
                <th>资源池</th>
                <th>状态</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in items">
                <td>
                    <input type="checkbox" ng-click="changeState()" ng-checked="itemChecked" ip="{{ x.floating_ip_address }}" id="{{ x.id }}">
                </td>
                <td>
                    {{ x.floating_ip_address }}
                </td>
                <td ng-if="x.fixed_ip_address"><a href="{{ x.href }}">{{ x.fixed_ip_address }}</a></td>
                <td ng-if="!x.fixed_ip_address">-</td>
                <td ng-bind="x.name"></td>
                <!-- 下面两个td是一个组 -->
                <td ng-bind="x.status"></td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#associateModal" ng-click="relIPBtn($event)" ng-if="!x.fixed_ip_address" ip="{{ x.floating_ip_address }}" id="{{ x.id }}">关联</button>
                        <button type="button" class="btn btn-default btn-sm text-red" data-toggle="modal" data-target="#disassociateModal" ng-click="disAssociateBtn($event)" ng-if="x.fixed_ip_address" ip="{{ x.floating_ip_address }}" id="{{ x.id }}">解除绑定</button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="text-red" href="" data-toggle="modal" data-target="#freeFloatIpModal" ng-click="freeFloatIPBtn($event)" ip="{{ x.floating_ip_address }}" id="{{ x.id }}">释放浮动IP</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr ng-if="!item_count">
                <td class="text-center" colspan="6">没有可显示的项目</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="active tfoot-dsp">
                <td colspan="6">Displaying {{ item_count }} {{ item_desc }}</td>
            </tr>
        </tfoot>
    </table>
</div>
<!-- 模态框(Modal) 释放多个浮动IP确认-->
<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">确认删除吗</h4>
            </div>
            <div class="modal-body">
                <p>一旦floating IP释放，就无法保证再一次将同一个IP分配给它
                    <br>你将要删除的的IP如下:</p>
                <ul>
                    <li ng-repeat="x in ipDeletes">{{x}}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-danger" ng-click="deleteIPs()">确认删除</button>
            </div>
        </div>
    </div>
</div>
<!-- 
    ======================================分割线==================================================================
 -->
<!-- 模态框（Modal） 分配IP给项目-->
<div class="modal fade" id="newIP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">分配浮动IP</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <form role="form">
                            <div class="form-group">
                                <label>资源池<span class="span-stand"> *</span></label>
                                <select class="form-control" ng-model="floating_network_id">
                                    <option ng-repeat="x in resLists" value=" {{ x.id }} ">{{ x.name }}</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <h4>说明:</h4>
                        <p>从指定的浮动IP池中分配一个浮动IP</p>
                        <h4>项目配额</h4>
                        <small><strong>浮动IP ({{ item_count }})</strong><span class="modal-right">{{ maxFloatingIP }} 可用配额</span></small>
                        <div class="progress progress-striped active" baseValue="{{ MULTI }}">
                            <div class="progress-bar progress-bar-info" id="widthBase" role="progressbar" aria-valuenow="４" aria-valuemin="0" aria-valuemax="48">
                                <span class="sr-only">进度条基数</span>
                            </div>
                            <div class="progress-bar progress-bar-success" id="widthIncrease" role="progressbar" aria-valuenow="２" aria-valuemin="0" aria-valuemax="48">
                                <span class="sr-only">进度条步长</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="allocIP()" ng-disabled="disAlloc">分配IP</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<!-- 模态框(Modal) 关联-->
<div class="modal fade" id="associateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">管理浮动IP的关联</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <h5><lable>IP 地址:<span class="span-stand"> *</span></lable></h5>
                            <input class="form-control" ng-value="curFloatingIp" disabled>
                        </p>
                        <p>
                            <h5><lable　for="key-value">待连接的端口:<span class="span-stand"> *</span></lable></h5>
                            <select class="form-control" ng-model=" hasFixed_ip ">
                                <option ng-repeat="x in ipItems" value="{{ x.id }}">{{ x.fixed_ips[0].ip_address }}</option>
                            </select>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h5>请为选中的的云主机或端口选择要绑定的IP地址</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="associateBtn()" ng-disabled="associateClick">关联</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框 释放单个浮动IP -->
<div class="modal fade" id="freeFloatIpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">确认释放吗</h4>
            </div>
            <div class="modal-body">
                <p>一旦floating IP释放，就无法保证再一次将同一个IP分配给它
                    <br>你将要删除的的IP如下:</p>
                <ul>
                    <li ng-bind="freeFloatingIP"></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" ng-click="deleteOneIP()">确认删除</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="disassociateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">解除绑定</h4>
            </div>
            <div class="modal-body">
                <p>你要要解除绑定的IP如下:
                    <ul>
                        <li ng-bind="disassociateIP"></li>
                    </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" ng-click="disAssociate()">解除绑定</button>
            </div>
        </div>
    </div>
</div>
